<h1>Sondy</h1>
{% extends 'base.html' %}
{% block content %}
<table>
  <thead>
    <tr>
      <th>Nazwa</th>
      <th>Numer technologiczny</th>
      <th>Instalacja</th>  
      <th>Następny serwis do:</th>  
      <th>Akcje</th>
    </tr>
  </thead>
  <tbody>
    {% for probe in object_list %}
      <tr>
        <td>{{ probe.name }}</td>
        <td>{{ probe.technology_id }}</td>
        <td>{{ probe.place }}</td>
        <td>{{ probe.get_latest_service.next_service|date:"d.m.Y" }}</td>
        <td>
          <a href="{% url 'probe-detail' pk=probe.id %}"><button>Szczegóły</button></a>
          <a type="button" href="{% url 'probe-delete' pk=probe.id %}"><button>Usuń</button></a>
          <a type="button" href="{% url 'probe-update' pk=probe.id %}"><button>Modyfikuj</button></a>
        </td>
      </tr>
    {% empty %}
      <tr>
        <td colspan="2">Nie dodano żadnej sondy.</td>
      </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}
