<!--- load base.html --->
{% extends 'base.html' %}
{% block content %}
    <!--- probe details --->
    <head>
        <title>{{ object.name }} - Szczegóły sondy</title>
    </head>
    <body>
    <table class="table table-bordered table-success">
        <thead>
        <tr>
            <th>Nazwa</th>
            <td>{{ object.name }}</td>
        </tr>
        <tr>
            <th>Numer technologiczny</th>
            <td>{{ object.technology_id }}</td>
        </tr>
        <tr>
            <th>Instalacja</th>
            <td>{{ object.place }}</td>
        </tr>
        <tr>
            <th>Następny serwis do:</th>
            <td>{{ object.get_latest_service.next_service|date:"d.m.Y" }}</td>
        </tr>
        <tr>
            <th>Numer seryjny</th>
            <td>{{ object.serial_number }}</td>
        </tr>
        <tr>
            <th>Producent</th>
            <td>{{ object.factory }}</td>
        </tr>
        <tr>
            <th>Model</th>
            <td>{{ object.probe_model }}</td>
        </tr>
        <tr>
            <th>Data montażu</th>
            <td>{{ object.setup_date|date:"d.m.Y" }}</td>
        </tr>
        <tr>
            <th>Czy sprawna</th>
            <td>
                {% if object.status == True %} Tak
                {% else %}
                    Nie sprawna
                {% endif %}
            </td>
        </tr>
        </thead>
    </table>
    <p>Opis:</p>
    <p>{{ object.description }}</p>
    <a type="button" href="{% url 'calib_management:add-service' pk=object.id %}">
        <button type="button" class="btn btn-secondary" >Dodaj serwis</button>
    </a>
    <!--- last service for probe --->
    {% if last_service %}
        <h2>Ostatni serwis</h2>
        <p>Rodzaj obsługi: {{ last_service.name }}</p>
        <p>Data wykonania: {{ last_service.date_time|date:"d.m.Y" }}</p>
        <p>Następna obsługa: {{ last_service.next_service|date:"d.m.Y" }}</p>
    {% endif %}
    </body>
{% endblock %}