<!--- load base.html --->
{% extends 'base.html' %}
{% block content %}
    <!--- probe details --->
<head>
    <title>{{ object.name }} - Szczegóły sondy</title>
</head>
    <body>
    <table border="1">
  <thead>
    <tr>
      <th>Nazwa</th>
      <th>Numer technologiczny</th>
      <th>Instalacja</th>  
      <th>Następny serwis do:</th>  
      <th>Numer seryjny</th>
      <th>Producent</th>  
      <th>Model</th>
      <th>Data montażu</th>  
      <th>Czy sprawna</th>  
    </tr>
  </thead>
  <tbody>
      <tr>
        <td>{{ object.name }}</td>
        <td>{{ object.technology_id }}</td>
        <td>{{ object.place }}</td>
        <td>{{ object.get_latest_service.next_service|date:"d.m.Y" }}</td>
        <td>{{ object.serial_number }}</td>
        <td>{{ object.factory }}</td>
        <td>{{ object.probe_model }}</td>
        <td>{{ object.setup_date|date:"d.m.Y" }}</td>
        <td>
            {% if object.status == True %} Tak
        {% else %}
            Nie sprawna 
        {% endif %}
        </td>
      </tr>
  </tbody>
    </table>
    <p>Opis:</p>
      <p>{{ object.description }}</p>
    <a type="button" href="{% url 'calib_management:add-service' pk=object.id %}"><button>Dodaj serwis</button></a>
    <!--- last service for probe --->
    {% if last_service %}
    <h2>Ostatni serwis</h2>
    <p>Rodzaj obsługi: {{ last_service.name }}</p>
    <p>Data wykonania: {{ last_service.date_time|date:"d.m.Y" }}</p>
    <p>Następna obsługa: {{ last_service.next_service|date:"d.m.Y" }}</p>    
    {% endif %}
</body>
{% endblock %}