{% extends 'base.html' %}
{% block content %}
<head>
    <title>Szczegóły obsługi</title>
</head>
<body>
    <h1>Obsługa: {{ service.name }}</h1>
    <p>Rodzaj obsługi: {{ service.name }}</p>
    <p>Data wykonania: {{ service.date_time }}</p>
    <p>Obsługiwane urządzenie: {{ service.probe }}</p>
    <p>Termin kolejnej obsługi: {{ service.next_service }}</p>
    <p>Opis wykonanych czynności: {{ service.description }}</p>
    <p>Wykonał: {{ service.added_by.last_name }} {{ service.added_by.first_name }}</p>
    <a href="{% url 'service-list' %}">Powrót do listy</a>
    <a type="button" href="{% url 'service-update' pk=service.id %}">"Modyfikuj"</a>
    <a type="button" href="{% url 'service-delete' pk=service.id %}">"Usuń"</a>
</body>
{% endblock %}