{% extends 'base.html' %}
{% block content %}
<h1>Lista wykonanych czynności</h1>
    <form method="get">

    {{ filter.form.as_p }}
  
    <button type="submit">Wyszukaj</button>
    </form>

{% if filter.qs %}
<table border="1">
  <thead>
    <tr>
      <th>Nazwa</th>
      <th>Numer technologiczny</th>
      <th>Instalacja</th>  
      <th>Następny serwis do</th>
      <th>Wykonał</th>  
      <th>Akcje</th>
    </tr>
  </thead>
  <tbody>
{% for service in filter.qs %}
    <tr>
        <td>{{ service.name }}</td>
        <td>{{ service.date_time|date:"d.m.Y" }}</td>
        <td>{{ service.probe }}</td>
        <td>{{ service.next_service|date:"d.m.Y" }}</td>
        <td>{{ service.added_by.last_name }}</td>
        <td>
          <a href="{% url 'calib_management:service-detail' pk=service.id %}"><button>Szczegóły</button></a>
          <a type="button" href="{% url 'calib_management:service-delete' pk=service.id %}"><button>Usuń</button></a>
          <a type="button" href="{% url 'calib_management:service-update' pk=service.id %}"><button>Modyfikuj</button></a>

        </td>
      </tr>
    {% endfor %}
  {% else %}
      <tr>
        <td colspan="2">Nie wykonano żadnego serwisu.</td>
      </tr>
  {% endif %}
  </tbody>
</table>


    
{% endblock %}