<!--- load base.html --->
{% extends 'base.html' %}
{% block content %}
<head>
    <title>Szczegóły obsługi</title>
</head>
<body>
    <h2>Obsługa: {{ service.name }}</h2>
    <p>Rodzaj obsługi: {{ service.name }}</p>
    <p>Data wykonania: {{ service.date_time }}</p>
    <p>Obsługiwane urządzenie: {{ service.probe }}</p>
    <p>Termin kolejnej obsługi: {{ service.next_service }}</p>
    <p>Opis wykonanych czynności: {{ service.description }}</p>
    <p>Wykonał: {{ service.added_by.last_name }} {{ service.added_by.first_name }}</p>
    <a type="button" href="{% url 'calib_management:service-update' pk=service.id %}">
        <button type="button" class="btn btn-light" >Modyfikuj</button></a>
    <a type="button" href="{% url 'calib_management:service-delete' pk=service.id %}">
        <button type="button" class="btn btn-danger" >Usuń</button></a>
</body>
{% endblock %}