<!--- load base.html --->
{% extends 'base.html' %}
{% block content %}
    <head>
        <meta charset="UTF-8">
        <title>Zaktualizuj dane</title>
    </head>
    <body>
    <h2>Zaktualizuj dane</h2>
    <form method="post">
        {% csrf_token %}
        <div class="table-responsive">
            <table class="table table-bordered table-info">
                {{ form.as_table }}
            </table>
        </div>
        <button type="submit" class="btn btn-success">Zapisz zmiany</button>
    </form>
    <a type="button" href="{% url 'calib_management:pass-change' %}">
        <button class="btn btn-danger">Zmień hasło</button>
    </a>
    </body>
{% endblock %}
